In [1]:
import numpy as np 
import pandas as pd

#### SECTION 1: Data Understanding & Cleaning

In [2]:
# loading data 
df =  pd.read_csv("wardata.csv")
df

,id,relid,year,active_year,code_status,type_of_violence,conflict_dset_id,conflict_new_id,conflict_name,dyad_dset_id,...,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best,high,low,gwnoa,gwnob
0,602958,AFG-2025-2-2-XXX700-23,2025,False,Check dyad,2,2-XXX700,1,XXX700 - XXX700,2-XXX700,...,2025-11-11,1,0,0,0,1,1,1,NaN,NaN
1,604748,AFG-2025-3-951-55,2025,True,Clear,3,130,484,Government of Afghanistan - Civilians,130,...,2025-11-21,0,0,0,0,0,1,0,700.0,NaN
2,605550,AFG-2025-3-951-56,2025,True,Clear,3,130,484,Government of Afghanistan - Civilians,130,...,2025-11-27,0,0,0,0,0,1,0,700.0,NaN
3,604267,AFG-2025-2-10744-2,2025,False,Clear,2,10744,10134,Hazara - Kochi,10744,...,2025-11-14,1,0,0,0,1,1,0,NaN,NaN
4,602965,AFG-2025-1-12291-36,2025,True,Clear,1,11639,11639,Afghanistan - Pakistan,12291,...,2025-11-06,0,0,9,0,9,11,5,700.0,770.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1894,606343,YEM-2025-1-14595-218,2025,True,Clear,1,230,230,Yemen (North Yemen): Government,14595,...,2025-11-26,0,0,2,0,2,2,0,678.0,NaN
1895,606264,YEM-2025-2-14596-32,2025,True,Clear,2,14596,13587,AQAP - Forces of the Presidential Leadership C...,14596,...,2025-11-19,0,2,0,0,2,2,2,NaN,NaN
1896,606220,YEM-2025-2-14596-31,2025,True,Clear,2,14596,13587,AQAP - Forces of the Presidential Leadership C...,14596,...,2025-11-30,2,0,0,0,2,2,2,NaN,NaN
1897,606446,YEM-2025-3-15781-12,2025,False,Clear,3,6254,14511,Forces of the Presidential Leadership Council ...,6254,...,2025-11-13,0,0,1,0,1,1,1,NaN,NaN
1898,606266,YEM-2025-2-18685-0,2025,False,Check type of violence,2,18685,16749,HTA - STC,18685,...,2025-11-19,0,0,1,0,1,1,1,NaN,NaN

In [3]:
# DData shape
df.shape

(1899, 49)

In [4]:
# Coulmns info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1899 entries, 0 to 1898
Data columns (total 49 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1899 non-null   int64
 1   relid              1899 non-null   object
 2   year               1899 non-null   int64
 3   active_year        1899 non-null   bool
 4   code_status        1899 non-null   object
 5   type_of_violence   1899 non-null   int64
 6   conflict_dset_id   1899 non-null   object
 7   conflict_new_id    1899 non-null   int64
 8   conflict_name      1899 non-null   object
 9   dyad_dset_id       1899 non-null   object
 10  dyad_new_id        1899 non-null   int64
 11  dyad_name          1899 non-null   object
 12  side_a_dset_id     1895 non-null   object
 13  side_a_new_id      1899 non-null   int64
 14  side_a             1899 non-null   object
 15  side_b_dset_id     1886 non-null   object
 16  side_b_new_id      1899 non-null   int64
 17  side_b             1899 non-null   object
 18  number_of_sources  1899 non-null   int64
 19  source_article     1899 non-null   object
 20  source_office      1899 non-null   object
 21  source_date        1899 non-null   object
 22  source_headline    1899 non-null   object
 23  source_original    1769 non-null   object
 24  where_prec         1899 non-null   int64
 25  where_coordinates  1899 non-null   object
 26  where_description  1832 non-null   object
 27  adm_1              1850 non-null   object
 28  adm_2              1638 non-null   object
 29  latitude           1899 non-null   float64
 30  longitude          1899 non-null   float64
 31  geom_wkt           1899 non-null   object
 32  priogrid_gid       1899 non-null   int64
 33  country            1899 non-null   object
 34  country_id         1899 non-null   int64
 35  region             1899 non-null   object
 36  event_clarity      1899 non-null   int64
 37  date_prec          1899 non-null   int64
 38  date_start         1899 non-null   object
 39  date_end           1899 non-null   object
 40  deaths_a           1899 non-null   int64
 41  deaths_b           1899 non-null   int64
 42  deaths_civilians   1899 non-null   int64
 43  deaths_unknown     1899 non-null   int64
 44  best               1899 non-null   int64
 45  high               1899 non-null   int64
 46  low                1899 non-null   int64
 47  gwnoa              1260 non-null   float64
 48  gwnob              667 non-null    float64
dtypes: bool(1), float64(4), int64(20), object(24)
memory usage: 714.1+ KB

In [5]:
df.describe()

,id,year,type_of_violence,conflict_new_id,dyad_new_id,side_a_new_id,side_b_new_id,number_of_sources,where_prec,latitude,...,date_prec,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best,high,low,gwnoa,gwnob
count,1899.000000,1899.0,1899.000000,1899.000000,1899.000000,1899.000000,1899.000000,1899.000000,1899.000000,1899.000000,...,1899.000000,1899.000000,1899.000000,1899.000000,1899.000000,1899.000000,1899.000000,1899.000000,1260.000000,667.000000
mean,605452.295419,2025.0,1.491311,7935.242233,10517.268562,1604.901527,2444.275408,1.417588,2.143760,26.604077,...,1.152185,5.298052,1.293312,0.881517,0.602422,8.075303,8.896788,7.724065,477.706349,371.404798
std,1850.708385,0.0,0.758029,6606.716810,6767.098475,2606.820158,3340.672751,1.113632,1.308913,19.756816,...,0.520911,204.266584,4.906267,5.749254,5.827284,204.411892,148.316861,204.367648,154.348839,30.983545
min,601627.000000,2025.0,1.000000,1.000000,2.000000,6.000000,1.000000,1.000000,1.000000,-34.049091,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,41.000000,369.000000
25%,604526.500000,2025.0,1.000000,337.000000,973.000000,57.000000,61.000000,1.000000,1.000000,11.371257,...,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,365.000000,369.000000
50%,605396.000000,2025.0,1.000000,13243.000000,14117.000000,112.000000,61.000000,1.000000,2.000000,26.066880,...,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,2.000000,365.000000,369.000000
75%,606888.000000,2025.0,2.000000,13243.000000,15136.000000,3673.000000,3737.000000,1.000000,3.000000,48.127153,...,1.000000,0.000000,2.000000,1.000000,0.000000,2.000000,3.000000,2.000000,625.000000,369.000000
max,608825.000000,2025.0,3.000000,16760.000000,18699.000000,9704.000000,9710.000000,13.000000,7.000000,53.158500,...,5.000000,8901.000000,100.000000,200.000000,204.000000,8901.000000,6439.000000,8901.000000,850.000000,770.000000

#### Missing value analysis

In [6]:
df.isna().sum()

id                      0
relid                   0
year                    0
active_year             0
code_status             0
type_of_violence        0
conflict_dset_id        0
conflict_new_id         0
conflict_name           0
dyad_dset_id            0
dyad_new_id             0
dyad_name               0
side_a_dset_id          4
side_a_new_id           0
side_a                  0
side_b_dset_id         13
side_b_new_id           0
side_b                  0
number_of_sources       0
source_article          0
source_office           0
source_date             0
source_headline         0
source_original       130
where_prec              0
where_coordinates       0
where_description      67
adm_1                  49
adm_2                 261
latitude                0
longitude               0
geom_wkt                0
priogrid_gid            0
country                 0
country_id              0
region                  0
event_clarity           0
date_prec               0
date_start              0
date_end                0
deaths_a                0
deaths_b                0
deaths_civilians        0
deaths_unknown          0
best                    0
high                    0
low                     0
gwnoa                 639
gwnob                1232
dtype: int64

In [7]:
df.isna().sum()

id                      0
relid                   0
year                    0
active_year             0
code_status             0
type_of_violence        0
conflict_dset_id        0
conflict_new_id         0
conflict_name           0
dyad_dset_id            0
dyad_new_id             0
dyad_name               0
side_a_dset_id          4
side_a_new_id           0
side_a                  0
side_b_dset_id         13
side_b_new_id           0
side_b                  0
number_of_sources       0
source_article          0
source_office           0
source_date             0
source_headline         0
source_original       130
where_prec              0
where_coordinates       0
where_description      67
adm_1                  49
adm_2                 261
latitude                0
longitude               0
geom_wkt                0
priogrid_gid            0
country                 0
country_id              0
region                  0
event_clarity           0
date_prec               0
date_start              0
date_end                0
deaths_a                0
deaths_b                0
deaths_civilians        0
deaths_unknown          0
best                    0
high                    0
low                     0
gwnoa                 639
gwnob                1232
dtype: int64

In [8]:
# Dropping gwnob because moost values are empty 
df = df.dropna()

In [9]:
df.isna().sum()

id                   0
relid                0
year                 0
active_year          0
code_status          0
type_of_violence     0
conflict_dset_id     0
conflict_new_id      0
conflict_name        0
dyad_dset_id         0
dyad_new_id          0
dyad_name            0
side_a_dset_id       0
side_a_new_id        0
side_a               0
side_b_dset_id       0
side_b_new_id        0
side_b               0
number_of_sources    0
source_article       0
source_office        0
source_date          0
source_headline      0
source_original      0
where_prec           0
where_coordinates    0
where_description    0
adm_1                0
adm_2                0
latitude             0
longitude            0
geom_wkt             0
priogrid_gid         0
country              0
country_id           0
region               0
event_clarity        0
date_prec            0
date_start           0
date_end             0
deaths_a             0
deaths_b             0
deaths_civilians     0
deaths_unknown       0
best                 0
high                 0
low                  0
gwnoa                0
gwnob                0
dtype: int64

In [10]:
df["start_day"] = pd.to_datetime(df["date_start"], errors='coerce' )
df["end_day"] = pd.to_datetime(df["date_end"], errors='coerce' )

/var/folders/1t/z8mzpx7s3593qg8vgn51bq2r0000gn/T/ipykernel_2224/2250842846.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["start_day"] = pd.to_datetime(df["date_start"], errors='coerce' )
/var/folders/1t/z8mzpx7s3593qg8vgn51bq2r0000gn/T/ipykernel_2224/2250842846.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["end_day"] = pd.to_datetime(df["date_end"], errors='coerce' )

### same day events

In [11]:
sameday_events= df[df["start_day"]== df["end_day"]]
sameday_events.count

<bound method DataFrame.count of           id                  relid  year  active_year   code_status  \
4     602965    AFG-2025-1-12291-36  2025         True         Clear
5     602987    AFG-2025-1-12291-37  2025         True         Clear
6     604652    AFG-2025-1-12291-39  2025         True    Check dyad
381   605159      IND-2025-1-422-28  2025         True         Clear
1024  601798  UKR-2025-1-14117-5791  2025         True         Clear
...      ...                    ...   ...          ...           ...
1865  605374  UKR-2025-1-14117-6678  2025         True         Clear
1866  605375  UKR-2025-1-14117-6679  2025         True         Clear
1867  605376  UKR-2025-1-14117-6680  2025         True         Clear
1868  605232  UKR-2025-1-14117-6601  2025         True  Check deaths
1870  605265  UKR-2025-1-14117-6619  2025         True         Clear

      type_of_violence conflict_dset_id  conflict_new_id  \
4                    1            11639            11639
5                    1            11639            11639
6                    1            11639            11639
381                  1              218              218
1024                 1            13243            13243
...                ...              ...              ...
1865                 1            13243            13243
1866                 1            13243            13243
1867                 1            13243            13243
1868                 1            13243            13243
1870                 1            13243            13243

               conflict_name dyad_dset_id  ...  deaths_b deaths_civilians  \
4     Afghanistan - Pakistan        12291  ...         0                9
5     Afghanistan - Pakistan        12291  ...         0                2
6     Afghanistan - Pakistan        12291  ...         0               10
381         India - Pakistan          422  ...         0                0
1024        Russia - Ukraine        14117  ...         0                1
...                      ...          ...  ...       ...              ...
1865        Russia - Ukraine        14117  ...         2                0
1866        Russia - Ukraine        14117  ...         2                0
1867        Russia - Ukraine        14117  ...         2                0
1868        Russia - Ukraine        14117  ...         0                1
1870        Russia - Ukraine        14117  ...         0                0

     deaths_unknown  best high low  gwnoa  gwnob  start_day    end_day
4                 0     9   11   5  700.0  770.0 2025-11-06 2025-11-06
5                 0     2    2   2  700.0  770.0 2025-11-06 2025-11-06
6                 0    10   10   0  700.0  770.0 2025-11-24 2025-11-24
381               2     2    2   2  750.0  770.0 2025-11-07 2025-11-07
1024              0     1    1   1  365.0  369.0 2025-11-02 2025-11-02
...             ...   ...  ...  ..    ...    ...        ...        ...
1865              0     2    2   2  365.0  369.0 2025-11-30 2025-11-30
1866              0     2    2   2  365.0  369.0 2025-11-30 2025-11-30
1867              0     2    2   2  365.0  369.0 2025-11-30 2025-11-30
1868              0     1    1   1  365.0  369.0 2025-11-30 2025-11-30
1870              0     2    2   2  365.0  369.0 2025-11-30 2025-11-30

[494 rows x 51 columns]>

### multi day events

In [12]:
multiday_events= df[df["end_day"]> df["start_day"]]
multiday_events.count

<bound method DataFrame.count of           id                  relid  year  active_year code_status  \
1038  604891  UKR-2025-1-14117-6451  2025         True       Clear
1231  605015  UKR-2025-1-14117-6522  2025         True       Clear
1512  604555  UKR-2025-1-14117-6319  2025         True       Clear
1552  604650  UKR-2025-1-14117-6359  2025         True       Clear
1743  605177  UKR-2025-1-14117-6565  2025         True       Clear
1798  605249  UKR-2025-1-14117-6612  2025         True       Clear

      type_of_violence conflict_dset_id  conflict_new_id     conflict_name  \
1038                 1            13243            13243  Russia - Ukraine
1231                 1            13243            13243  Russia - Ukraine
1512                 1            13243            13243  Russia - Ukraine
1552                 1            13243            13243  Russia - Ukraine
1743                 1            13243            13243  Russia - Ukraine
1798                 1            13243            13243  Russia - Ukraine

     dyad_dset_id  ...  deaths_b deaths_civilians deaths_unknown  best high  \
1038        14117  ...         0                2              0     2    2
1231        14117  ...         1                0              0     1    1
1512        14117  ...         0                7              0     7    7
1552        14117  ...         2                0              0     2    2
1743        14117  ...         0                1              0     1    1
1798        14117  ...         0                0              0     2   29

     low  gwnoa  gwnob  start_day    end_day
1038   2  365.0  369.0 2025-11-17 2025-11-23
1231   1  365.0  369.0 2025-11-01 2025-11-27
1512   7  365.0  369.0 2025-11-14 2025-11-15
1552   2  365.0  369.0 2025-11-15 2025-11-17
1743   1  365.0  369.0 2025-11-24 2025-11-25
1798   2  365.0  369.0 2025-11-27 2025-11-29

[6 rows x 51 columns]>

### Total deaths in a war

In [13]:
df["Total_deaths"]= df["deaths_a"]+ df["deaths_b"]+ df["deaths_civilians"]+ df["deaths_unknown"]
df["Total_deaths"]

/var/folders/1t/z8mzpx7s3593qg8vgn51bq2r0000gn/T/ipykernel_2224/2094512552.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Total_deaths"]= df["deaths_a"]+ df["deaths_b"]+ df["deaths_civilians"]+ df["deaths_unknown"]

4        9
5        2
6       10
381      2
1024     1
        ..
1865     2
1866     2
1867     2
1868     1
1870     2
Name: Total_deaths, Length: 500, dtype: int64

### minimum deaths

In [14]:
df["Total_deaths"].min()

1

### maximum deaths

In [15]:
df["Total_deaths"].max()

38

### Avg deaths

In [16]:
df["Total_deaths"].mean()

np.float64(2.332)

In [17]:
df["Total_deaths"].describe()

count    500.000000
mean       2.332000
std        2.497649
min        1.000000
25%        1.000000
50%        2.000000
75%        2.000000
max       38.000000
Name: Total_deaths, dtype: float64

### 🔹 SECTION 2: Conflict & Violence Analysis

In [22]:
df.head()

,id,relid,year,active_year,code_status,type_of_violence,conflict_dset_id,conflict_new_id,conflict_name,dyad_dset_id,...,deaths_civilians,deaths_unknown,best,high,low,gwnoa,gwnob,start_day,end_day,Total_deaths
4,602965,AFG-2025-1-12291-36,2025,True,Clear,1,11639,11639,Afghanistan - Pakistan,12291,...,9,0,9,11,5,700.0,770.0,2025-11-06,2025-11-06,9
5,602987,AFG-2025-1-12291-37,2025,True,Clear,1,11639,11639,Afghanistan - Pakistan,12291,...,2,0,2,2,2,700.0,770.0,2025-11-06,2025-11-06,2
6,604652,AFG-2025-1-12291-39,2025,True,Check dyad,1,11639,11639,Afghanistan - Pakistan,12291,...,10,0,10,10,0,700.0,770.0,2025-11-24,2025-11-24,10
381,605159,IND-2025-1-422-28,2025,True,Clear,1,218,218,India - Pakistan,422,...,0,2,2,2,2,750.0,770.0,2025-11-07,2025-11-07,2
1024,601798,UKR-2025-1-14117-5791,2025,True,Clear,1,13243,13243,Russia - Ukraine,14117,...,1,0,1,1,1,365.0,369.0,2025-11-02,2025-11-02,1

### Number of events according to type of voilence

In [27]:
event_per_type = df.groupby("type_of_violence").size()
print(event_per_type)

type_of_violence
1    500
dtype: int64

### Average deaths per event

In [28]:
avg_death_per_event= df.groupby("type_of_violence")["Total_deaths"].mean()
avg_death_per_event

type_of_violence
1    2.332
Name: Total_deaths, dtype: float64

### Most lethal

In [30]:
most_lethat = avg_death_per_event.sort_values(ascending = False)
most_lethat

type_of_violence
1    2.332
Name: Total_deaths, dtype: float64

### Top 10 most deadly conflicts on the basis of total deaths

In [38]:
deadly_conflict = df.groupby("conflict_name")["Total_deaths"].sum().sort_values(ascending = False).head(10)
deadly_conflict

conflict_name
Russia - Ukraine          1143
Afghanistan - Pakistan      21
India - Pakistan             2
Name: Total_deaths, dtype: int64